{% extends 'base.html' %}
{% load static %}

{% block title %}問題{% endblock %}

{% block content %}
    <div class="container">
        <div class="bg-light p-3 p-sm-5 my-4 rounded">
            <h1 class="display-4">Plot</h1>
            <hr class="my-4">
            <p>画像</p>
        </div>
    </div>
    <div class="container">
        <form method="post" action="{% url 'question:select_plot' %}">
            {% csrf_token %}
            <label for="select">実験期間：</label>
            <select id="select" name="select">
                {% for group in groups %}
                    <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="表示">
        </form>
    </div>
    {% if plot_message == "OK" %}
        <div class="container">
            <img src="{% url 'question:plot' select_group=group %}" width=800 height=800 alt="プロット画像">
        </div>
    {% endif %}

{% endblock %}