{% extends 'base.html' %}
{% load static %}

{% block title %}問題一覧{% endblock %}

{% block content %}
    <div class="container">
      <div class="bg-light p-3 p-sm-5 my-4 rounded">
        <h1 class="display-4">QuestionTitleList</h1>
        <hr class="my-4">
        <p>問題一覧</p>
      </div>
    </div>
    <div class="container">
        {% if message == '' %}
            <div class="answer-form">
                <form action="{% url 'question:asnwer_correct' %}" method="post">
                    {% csrf_token %}
                    <h1>{{ question.id }}</h1>
                    <div class="field">
                        <p style="margin: 5px 0">問題: {{ question.question }}</p>
                        <input hidden type="text" name="question" value="{{ question.question }}">
                        <input hidden type="text" name="start_time" value="{{ start_time }}">
                        <input hidden type="text" name="id" value="{{ question.id }}">
                    </div>
                    <div class="field">
                        <label>解答: </label><input type="text" name="answer" id="answer">
                    </div>
                    <input type="submit" value="解答" style="margin: 5px 0" onclick='return confirm("送信しますか？");'>
                </form>
            </div>
        {% else %}
            {% if done == "" %}
                <div class="answer-form">
                    <form action="{% url 'question:answer_question' %}" method="post">
                        {% csrf_token %}
                        <h2>{{ message }}</h2>
                        <input hidden type="text" name="id" value="{{ question.id }}">
                        <input type="submit" value="次の問題へ" style="margin: 5px 0">
                    </form>
                </div>
            {% else %}
                <h2>{{ message }}</h2>
                <a href="{% url 'question:answer_done' %}">問題終了</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}