{% extends 'base.html' %}
{% load static %}

{% block title %}問題一覧{% endblock %}

{% block content %}
    <div class="container">
      <div class="bg-light p-3 p-sm-5 my-4 rounded">
        <h1 class="display-4">Question</h1>
        <hr class="my-4">
        <h2>問題{{ question_id }}</h2>
      </div>
    </div>
    <div class="container">
        {% if message == '' %}
            <div class="answer-form">
                <form action="{% url 'question:asnwer_correct' question_title_id=question_title_id %}" method="post">
                    {% csrf_token %}
                    <p id="answer_timer">15</p>
                    <div class="field">
                        <p style="margin: 5px 0">問題: {{ question.question }}</p>
                        <input hidden type="text" name="question" value="{{ question.question }}">
                        <input hidden type="text" name="start_time" value="{{ start_time }}">
                        <input hidden type="text" name="id" value="{{ question.id }}">
                    </div>
                    <div class="field">
                        <label>解答: </label><input type="text" name="answer" id="answer">
                    </div>
                    <input type="submit" value="解答" style="margin: 5px 0" onclick='return confirm("送信しますか？");'>
                    <input hidden id="answer-submit" type="submit" value="解答" style="margin: 5px 0">
                </form>
            </div>

            <script>
                let count = 0;
                const countUp = () =>{
                    console.log(count++);
                }
                const intervalId = setInterval(() =>{
                    countUp();
                    document.querySelector('#answer_timer').textContent=16-count;
                    if(count > 15){　
                        clearInterval(intervalId);　//intervalIdをclearIntervalで指定している
                        {#alert('回答ボタンを押してください！！！');#}
                        document.getElementById('answer-submit').click();
                    }
                }, 1000);
            </script>
        {% else %}
            {% if done == "" %}
                <div class="answer-form">
                    <form action="{% url 'question:answer_question' question_title_id=question_title_id %}" method="post">
                        {% csrf_token %}
                        <p id="next_question_timer">5</p>
                        <h2>{{ message }}</h2>
                        <input hidden type="text" name="id" value="{{ question.id }}">
                        <input hidden type="text" name="question_id" value="{{ question_id }}">
                        <input hidden id="nexr-question" type="submit" value="次の問題へ" style="margin: 5px 0">
                    </form>
                </div>

                <script>
                    let count = 0;
                    const countUp = () =>{
                        console.log(count++);
                    }
                    const intervalId = setInterval(() =>{
                        countUp();
                        document.querySelector('#next_question_timer').textContent=6-count;
                        if(count > 5){　
                            clearInterval(intervalId);　//intervalIdをclearIntervalで指定している
                            {#alert('次の問題に進んでください！！！');#}
                            document.getElementById('nexr-question').click();
                        }
                    }, 1000);
                </script>
            {% else %}
                <h2>{{ message }}</h2>
                <a href="{% url 'question:answer_done' %}" class="btn" style="background-color: #77c7e2; color: #303f42;" tabindex="-1" role="button" aria-disabled="true">
                    問題終了
                    <i class="fas fa-hourglass-end"></i>
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}