{% extends 'base.html' %}
{% load static %}

{% block title %}問題一覧{% endblock %}

{% block content %}
    <div class="container">
      <div class="bg-light p-3 p-sm-5 my-4 rounded">
        <h1 class="display-4">QuestionTitleList</h1>
        <hr class="my-4">
        <p>問題一覧</p>
      </div>
    </div>
    <div class="container">
        {{ one_question }}
        <h2>{{ one_question.title }}</h2>
        <h2>{{ one_question.question }}</h2>
        <h2>{{ one_question.correct }}</h2>
        <h2>{{ length }}</h2>
    </div>
{% endblock %}
